<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      
      <a mat-list-item class="listBord" routerLink="/">
        <mat-icon  class="color">home</mat-icon> Inicio
      </a>

      <ng-container >
        <a mat-list-item *ngIf="this.isAdmin" class="listBord" routerLink="/productos"><mat-icon class="color">local_parking</mat-icon>Productos</a>
        <a mat-list-item *ngIf="this.isAdmin" class="listBord" routerLink="/comentarios"><mat-icon class="color">store</mat-icon>Comentarios</a>
        <a mat-list-item *ngIf="this.isAdmin" class="listBord" routerLink="/noticias"><mat-icon class="color">keyboard_hide</mat-icon>noticias</a>
        <a mat-list-item *ngIf="this.isAdmin" class="listBord" routerLink="/pedidos"><mat-icon class="color">healing</mat-icon>Pedidos</a>
        <a mat-list-item *ngIf="this.isAdmin" class="listBord" routerLink="/ventas"><mat-icon class="color">attach_money</mat-icon>Ventas</a>
        <!--<a mat-list-item class="listBord" routerLink="/usuarios"><mat-icon class="color">person_pin</mat-icon>Usuarios</a>-->
        <a mat-list-item *ngIf="this.isAdmin" class="listBord" routerLink="/informes"><mat-icon class="color">receipt</mat-icon>informeproductos</a>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fixedInViewport="true">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span class="Span">
        <img class="logo" src="./../../assets/Imagenes/logotipo.png">
      </span>

       
      <h2 class="titulo">Farmacia FarmaAhorro</h2>
  
      <ng-container *ngIf="this.isAuth; else elseTemplate">
          <a class="obtenerC" >{{obtenerCorreo()}}</a>
        <a mat-list-item (click)="this.logOut()">
            <!--<h6 id="obtenerC">{{obtenerCorreo()}}</h6>-->
            <mat-icon class="Init" matTooltip="Cerrar sesión">account_circle</mat-icon>
        </a>
      </ng-container>
      <ng-template #elseTemplate>
        <a mat-list-item routerLink="/login">
          Inicia Sesión
        </a>
      </ng-template>
           
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>