<div  *ngFor="let com of list" class="dividir">
  <div style="color:blue" (click)="onEdit(com)">{{com.email}}</div>
  <p (click)="onEdit(com)">{{com.fecha}}</p>
  <p (click)="onEdit(com)">{{com.informacion}}</p>
  <div><a *ngIf="admin===true" class=" btn text-danger"(click)="onDelete(com.id)">Eliminar<i class="fa fa-trash"></i></a></div>
  <!-- <div><a class=" btn text-danger"   (click)="onDelete(com.id)">Elimminar<i class="fa fa-trash"></i></a></div>-->
  <mat-divider> </mat-divider> 
</div>

<!--  
<div class="col-md-12">

      <table class="table table-hover">
        <thead class="table-active">
          <th>email</th>
          <th>informacion</th>
         <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let com of list">
            <td style="color:rgba(0, 51, 128, 0.397);" (click)="onEdit(com)">{{com.email}}</td>
            <td style="color:rgba(0, 70, 128, 0.466);" (click)="onEdit(com)">{{com.informacion}}</td>
            <td><a class=" btn text-danger"   (click)="onDelete(com.id)">Elimminar<i class="fa fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
      
      
    </div>

  -->  
