<body>
    <div id="general">

            <div id="Principal">
                <app-comentarios></app-comentarios>               
            </div>
            
           
            

             
               
        
  
            <div id="noticias">
                <mat-grid-list cols="3" rowHeight="100%">
                        <mat-grid-tile>
                         <h5 class="titulo">¿Quienes somos?</h5><h6>Somos una empresa formal encargada de proveer medicamentos a la población de Juigalpa.</h6>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <h5 class="titulo">Misión</h5><h6> Aspiramos a ser un modelo a seguir en el servicio farmacéutico, consolidandonos como lideres en la
                            dispensación de medicamentos, con la mejor imagen y ética en nuestra labor.</h6>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <h5 class="titulo">visión</h5><h6>proveer medicamentos y dispositivos medicos con altos estandares de calidad y confiabilidad.</h6>
                        </mat-grid-tile>
                      </mat-grid-list>
        </div>



         <div id="secundario">
                <app-noticias-list></app-noticias-list>   
            </div>
     </div>


<header class="header">
</header>


  


  <footer style="background-color:darkgrey">
      <div layout="row" layoutAlign="center center" >
          <h2>Copyriht &copy;2019, Farma Ahorro. Derechos Reservados.</h2>
      </div>
  
      <div class="icon" >
          <a class ="a" href="//facebook.com"><img class="im2" src="./../../assets/Imagenes/iconos/facebook.png" ></a>
          <a class ="a" href="//Whatsapp.com"><img class="im2" src="./../../assets/Imagenes/iconos/wpp.png" > </a>
      </div>
  
      <div>
              Dirección: Contiguo al Restaurante Cafe Iguana.
              
              Juigalpa,Chontales.<br>
              Tel.: 5847-6016   8233-3248 <br>
              
              Correo Electrónico:  farmaAhorroJuigalpa@gmail.com
      </div>

  </footer>
  
</body>