.img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 200px;
}
.mat-grid-tile {
    background:#eeeeee;
    width: 100%;
    border-radius: 20px;
  }

div#general{
    margin: auto;
    margin-top: 1%;
    width: 98%;
    height: 800px;
    background-color:white;
}
div#Principal{
    float: right;
    width: 30%;
    height: 100%;
    background-color:white;
}
.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
 
div#noticias{
    width: 69.5%;
    height: 25%;
  
    text-align: center;
}
/* @media (min-width: 780px){
    div#noticias{
        column-count: 2;
    }
} */

div#secundario  {
    margin-top: 0.5%;
    width: 69.5%;
    height: 90%;
    background-color:white;
}
.targetaprincipal{
    width: 66%;
    height: 20%;
    background-color:#EEEEEE;
    text-align: center;
    margin-top: 1%;
    margin-left: 1%;
}
.targeta1{
    width: 95%;
    margin: 4px;
    margin-top: 1%;
    columns: 3;
    background-color: #555;
}
.targeta2{
    width: 24%;
    margin: 4px;
    margin-top: 1%;
    left: 30%;
    object-position: 12%;
    object-fit: contain;

}
.targeta3{
    width: 24%;
    margin: 4px;
    margin-top: 1%;
    left: 60%;
    object-position: 12%;

}

footer{
    border-top: 10px;
    border-top-color:chartreuse(34, 78, 85, 0.747);
    border-top-style: solid;
    padding: 20px 0;
    text-align: center;
    background-color:rgb(8, 58, 7) (122, 120, 138);
    font-size: 10px;
    position: center;
    background-color: black(38,39,41);
   
    color: #050404;
}


.presentacion{
    text-align: center; 
}



.pres{

 
    left: 400px;
}

.titulo{
color:blue;
}
.farmaciaEmeling{
    width: 100%;
    height:600px ;
}


.presentacion{
   text-align: center;
}