

                      
                            
  <mat-card class="mymad">
    
<form class="example-form">
  <img class="imglog" src ="./../../assets/Imagenes/imagen para inicio 2.jpg">
 
  
    <mat-form-field class="example-full-width">
     
      <br>
      <textarea matInput placeholder="Comentario"></textarea>
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" type="submit" 
    matTooltip="Info about the action"
    aria-label="Button that displays a tooltip when focused or hovered over"> Enviar </button>


  </form>
</mat-card>


   

