.mymad{

    padding:5px;
    cursor:pointer;
    display:block;
    width:500px;
    margin: 0 auto;
    text-align:left; 
    }
  .econtenedor
  {
    height: 800px;
    right: 300px;
  }

    .btnpresentacion
{
  padding: 1px;
 margin:15px; 
  top: 0px;
  bottom: 0px;
  height: 50px;
  border-radius: 12px;
  
}
    .example-full-width {
      width: 100%;
    }
    .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }
    .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  
  .example-button-row {
      float:none;
      text-align:center;
  }
  .titulo {
     text-align:center;
  }
  .mymad:hover{
    box-shadow:0px 0px 22px 9px white;
  }
  .mat-form-field {
  
    width: 85%;
    left: 3%;
    border-radius:12px;
    position: relative;
    font-size: 16px;
    top:5px;
  }
  
  .btnguardar
{
  padding: 6px;
  left: 20px;
  top: 4px;
  bottom: 3px;
  height: 50px;
  border-radius: 12px;
  
}