.example-form {

  padding:5px;
  cursor:pointer;
  display:block;
  width:500px;
  margin: 0 auto;
  text-align:left;
   
  }
  
  .example-full-width {
    width: 100%;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-button-row {
    float:none;
    text-align:center;
}
.titulo {
   text-align:center;
}
