<br>

<div class="container">
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">

<br>
    <div class="form-group">
      <input type="hidden" name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" placeholder="email" >
      <div *ngIf="email.invalid && email.touched" class="validation-error">ingrese su correo.</div>
    </div>

    <div class="form-group">
        <input type="hidden" [(ngModel)]="service.formData.fecha" name="fecha" value="{{fecha}}"   class="form-control"  placeholder="fecha">
  
      </div>
      
 
    <div class="form-group">
      <input name="informacion" #informacion="ngModel" [(ngModel)]="service.formData.informacion" class="form-control" placeholder="Dejar comentario">

    </div>
  


    
      

    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">ENVIAR</button>
    </div>
  </form>
  <br>
  
</div>

<mat-divider class="dividir"> </mat-divider> 

<div >
    <app-comentario-list></app-comentario-list>
  </div>