<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="listBord" routerLink="/inicio"><mat-icon  class="color">home</mat-icon>Inicio</a>
      <!--<mat-list>
        <mat-list-item>
          <mat-icon class="color">store</mat-icon>Productos
          <button mat-button mat-icon-button (click)="showSubmenu = !showSubmenu">
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
          </button>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <mat-list-item routerLink="/productos">VerProductos</mat-list-item>
          <mat-list-item>Submenu Item 2</mat-list-item>
          <mat-list-item>Submenu Item 3</mat-list-item>
        </div>
      </mat-list>-->

      <a mat-list-item class="listBord" routerLink="/productos"><mat-icon class="color">local_parking</mat-icon>Productos</a>
      <a mat-list-item class="listBord" routerLink="/comentarios"><mat-icon class="color">store</mat-icon>Comentarios</a>
      <a mat-list-item class="listBord" routerLink="/pedidos"><mat-icon class="color">healing</mat-icon>Pedidos</a>
      <a mat-list-item class="listBord" routerLink="/ventas"><mat-icon class="color">attach_money</mat-icon>Ventas</a>
     <!-- <a mat-list-item routerLink="/compras"><mat-icon class="color">attach_money</mat-icon>Compras</a>-->
      <a mat-list-item class="listBord" routerLink="/usuarios"><mat-icon class="color">person_pin</mat-icon>Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fixedInViewport="true">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="Span">
        <img class="logo" src="./../../assets/Imagenes/logotipo.png">
      </span>
      <br>
            
            <a mat-list-item routerLink="/login"><mat-icon class="Init" matTooltip="Iniciar Sesión">account_circle</mat-icon></a>

    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
