.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: rgb(175, 230, 175);
}

.sidenav .mat-toolbar {
  background: rgb(175, 230, 175);
}

.sidenav .mat-nav-list
{
  background: rgb(175, 230, 175);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.color {
color: blue;
padding: 10px;
}

.login
{
  
  color: black;
  height: 50px;
  width: 100%;
padding-left: 400px;
  font-size: 50px;
  
}


.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu.expanded {
  height: 144px;
}


.account_circle{
  height: 144px;
  width: 50%;
    margin: 0 auto;
}