.sidenav-container {
  height: 100%;
   border-top: 1px solid;
   border-left: 0px double;
}

.sidenav {
  width: 200px;
  background:#E0E0E0;
  border: inset black 0.6px;
}

.sidenav .mat-toolbar {
  background:#E0E0E0;
  border-bottom: 1px solid;
  border-radius: 4%;
}

.sidenav .mat-nav-list
{
  background: #E0E0E0;
  padding: 0px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.color {
color:#1565C0;
padding: 10px;
font-size: 25px;
}

.login
{
  
  color: black;
  height: 50px;
  width: 100%;
padding: 0 14px;
  font-size: 50px;
  
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu.expanded {
  height: 144px;
}


.account_circle{
  height: 144px;
  width: 50%;
    margin: 0 auto;
    background-color: blue;
}
.Span{
  width: 100%;
  color: black;
  font-family: fantasy;
}

.botoncuenta
{
  color: black;
}

.mat-toolbar.mat-primary{
  background:#1565C0;
}
.Init{
  color: black;
  font-size: 40px;
  padding: 0 14px;
}

.listBord{
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-radius: 8%;
}
.logo{
  width: 80px; height: 60px;
  padding: 2px;
}

.titulo{
 text-align:center;
 margin-right: 40%;

 

}