
  .example-full-width {
    width: 100%;
    
  }

  .mymad{
    min-width: 150px;
    max-width: 500px;
    display: block;
    padding: 10px ;
    text-align: center;
    width: 290px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
  }

  .imglog{
    height: 150px;
    width: 300px
  }

  .mymad:hover{
    box-shadow:0px 0px 22px 9px rgb(245, 130, 187);
    
  }

  .logo{
    top: 1px;
    min-width: 150px;
    max-width: 200px;  
    position: relative;
    padding: 2%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    left: 466px;
}