/* Structure */
/* Structure */
/* Structure */
table {
  width: 95%;
  position: relative;
  left:2.5%;
  font-size: 16px;
  top:18px;
  background-color:#ECEFF1;
  border-radius: 12px;
}


.ng-container{
color:black;
}

 
.mat-form-field {
  
  width: 94%;
  left: 3%;
  border-radius: 12px;
  position: relative;
  font-size: 16px;
  top:2px;
  background-color:#ECEFF1;
  border-radius: 12px;
}



  .paginator
{
  width: 95%;
  position: relative;
  left:2.5%;
  font-size: 16px;
  top:18px;
  background-color:#ECEFF1;
  
}


.estado
{

   border-radius: 4px;
  
}

