<mat-card class="mymad">
    <h4>Agregar presentación</h4>
  <form class="example-form">
    <img class="imglog" src ="./../../assets/Imagenes/imagen para inicio 2.jpg">
   
    
      <mat-form-field class="example-full-width">
       
        <br>
        <textarea matInput placeholder="Descripcion"></textarea>
      </mat-form-field>
      <br>
  
      <button mat-raised-button color="primary" type="submit" 
      matTooltip="Info about the action"
      aria-label="Button that displays a tooltip when focused or hovered over"> Guardar </button>
  
  
    </form>
  </mat-card>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>