<div  *ngFor="let com of list" class="dividir">
    <div style="color:blue" (click)="onEdit(com)">{{com.titulo}}</div>
  
    <img style="width:300px;height:200px;" (click)="onEdit(com)" src="{{com.imagen}}">
    <p (click)="onEdit(com)">{{com.fecha}}</p>
    <p (click)="onEdit(com)">{{com.contenido}}</p>
    
    <div><a  class=" btn text-danger"(click)="onDelete(com.id)">Eliminar<i class="fa fa-trash"></i></a></div>
    <!-- <div><a class=" btn text-danger"   (click)="onDelete(com.id)">Elimminar<i class="fa fa-trash"></i></a></div>-->
    <mat-divider> </mat-divider> 
  </div>