<header class="header">

</header>

  <div class ="row">

      <div class="presentacion">
          <h2> Servicio que se ofrece   </h2>
          <p> Puede realizar sus pedidos de medicamentos en linea, siempre y cuando no necesiten receta medica.</p>
          <img class="img" src="./../../assets/Imagenes/imagen para inicio.jpg">
         
      </div>

      <div class="presentacion">
          <h2>Informacion</h2>
          <p> La Farmacia "Farma Ahorro" esta ubicada contiguo al Restaurante Cafe Iguana.  </p>
          <img class="img" src="./../../assets/Imagenes/imagen para inicio 3.jpg">
          
      </div>
  
      <div class="presentacion">
          <h2 >Contacto</h2>
          <p>Para cualquier informacion. </p>
          <img class="img" src="./../../assets/Imagenes/imagen para inicio 2.jpg">
          
      </div>

  </div>
  <br>
  <br>
  <br>
  <br>


  <footer style="background-color:darkgrey
  ">
      <div layout="row" layoutAlign="center center" >
          <h2>Copyriht &copy;2019, Farma Ahorro. Derechos Reservados.</h2>
      </div>
  
      <div class="icon" >
          <a class ="a" href="facebook.com"><img class="im2" src="./../../assets/Imagenes/iconos/facebook.png" ></a>
          <a class ="a" href="Whatsapp.com"><img class="im2" src="./../../assets/Imagenes/iconos/wpp.png" > </a>
            
        
          
      </div>
  
      <div>
              Dirección: Contiguo al Restaurante Cafe Iguana.
              
              Juigalpa,Chontales.<br>
              Tel.: 5847-6016   8233-3248 <br>
              
              Correo Electrónico:  farmaAhorroJuigalpa@gmail.com
      </div>
  </footer>
  