.img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 200px;
}




footer{
    border-top: 10px;
    border-top-color:chartreuse(34, 78, 85, 0.747);
    border-top-style: solid;
    padding: 20px 0;
    text-align: center;
    background-color:rgb(8, 58, 7) (122, 120, 138);
    font-size: 10px;
    position: center;
    background-color: black(38,39,41);
   
    color: #050404;


}


.presentacion{
    text-align: center; 
}

