<body>


    <div id="general">
            <div id="Principal">
                <app-comentarios></app-comentarios>               
            </div>

            <div id="noticias">
                    <mat-grid-list cols="3" rowHeight="100%">
                            <mat-grid-tile>
                                <h4><h3>¿Quienes somos?</h3>Somos una empresa formal encargada de proveer medicamentos a la población de Juigalpa.</h4>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <h4><h3>Misión</h3> Aspiramos a ser un modelo a seguir en el servicio farmacéutico, consolidandonos como lideres en la
                                dispensación de medicamentos, con la mejor imagen y ética en nuestra labor.</h4>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <h4><h3>Misión</h3>Aspiramos a ser un modelo a seguir en el servicio farmacéutico, consolidandonos como lideres en la
                                dispensación de medicamentos, con la mejor imagen y ética en nuestra labor.</h4>
                            </mat-grid-tile>
                          </mat-grid-list>
            </div>


         <div id="secundario">
            </div>
     </div>
</body>

<header class="header">

</header>

  <div class ="row">
        <img class ="farmaciaEmeling" src="./../../assets/Imagenes/farmacia emeling 2.jpg">
        <br>
        <mat-card class="mycard"></mat-card>


      <div class="pres">
          <h2> Servicio que se ofrece   </h2>
          <p> Puede realizar sus pedidos de medicamentos en Linea.</p>
          <img class="img" src="./../../assets/Imagenes/imagen para inicio.jpg">
         
      </div>

      <div class="presentacion">
          <h2>Informacion</h2>
          <p> La Farmacia "Farma Ahorro" esta ubicada contiguo al Restaurante Cafe Iguana.  </p>
          <img class="img" src="./../../assets/Imagenes/imagen para inicio 3.jpg">
          
      </div>
  
      <div class="presentacion">
          <h2 >Contacto</h2>
          <p>Para cualquier informacion. </p>
          <img class="img" src="./../../assets/Imagenes/imagen para inicio 2.jpg">
          
      </div>

  </div>
  <br>
  <br>
  <br>
  <br>


  <footer style="background-color:darkgrey">
      <div layout="row" layoutAlign="center center" >
          <h2>Copyriht &copy;2019, Farma Ahorro. Derechos Reservados.</h2>
      </div>
  
      <div class="icon" >
          <a class ="a" href="facebook.com"><img class="im2" src="./../../assets/Imagenes/iconos/facebook.png" ></a>
          <a class ="a" href="Whatsapp.com"><img class="im2" src="./../../assets/Imagenes/iconos/wpp.png" > </a>
            
        
          
      </div>
  
      <div>
              Dirección: Contiguo al Restaurante Cafe Iguana.
              
              Juigalpa,Chontales.<br>
              Tel.: 5847-6016   8233-3248 <br>
              
              Correo Electrónico:  farmaAhorroJuigalpa@gmail.com
      </div>

  </footer>